<div class="nav">
  <div class="photo">
    <img src="assets/image/photo.png">
  </div>
    <p>7-刘月</p>
    <div class="attention">
      <ul>
        <li>0</li>
        <li>关注</li>
      </ul>
    </div>
    <div class="fans">
      <ul>
        <li>0</li>
        <li>粉丝</li>
      </ul>
    </div>
   <div>
  <ul class="list">
    <li style="color:red;"><a [routerLink]="['./task']">任务-></a></li>
    <li><a [routerLink]="['./tong']">同步课-></a></li>
    <li><a [routerLink]="['./class']">课程-></a></li>
    <li><a [routerLink]="['./qieshuo']">且说-></a></li>
    <li><a [routerLink]="['./tongzhi']">通知-></a></li>
  </ul>
  </div>
</div>
<router-outlet></router-outlet>
