page-contact {
    ion-content{
        .linggan{
            position: relative;
            padding: 0;
            img{width: 100%;}
            .big{
                font-family: "等线";
                font-size: 20px;
                position: absolute;
                width: 70%;
                top:60px;
                margin:0px 55px 0px 55px;
                color: #fff;
                height: 110px;
                line-height:24px;
                text-align: center;
                background-color:rgba(0,0,0,0.5);
            }
            .small{
                position: absolute;
                width: 70%;
                top:137px;
                margin:0px 55px 0px 55px;
                color: #fff;
                height: 100px;
                line-height:30px;
                text-align: center;
             }
        }
    }
}